@import url('https://fonts.googleapis.com/css?family=Asap|Noto+Sans+TC|Special+Elite&display=swap');

.App {
  font-family: 'Special Elite', cursive;
}

h1, h2, h3, h4 {
  font-family: 'Special Elite', cursive;
  color: #753ECE;
}

#title {
  color: #753ECE;
}

p {
  font-family: 'courier';
}
